footer.footer
	.container
		.row
			.col-xs-12.text-xs-center
				.logo
					a(href="#")
						img(src="img/footer-img.png" alt="")
				.copywrite
					p
						| &copy; copyright 2016 RXapps Designed by 
						span
							| Zisan
				.social
					ul
						li
							a(href="#")
								span.icon.icon-fb
						li
							a(href="#")
								span.icon.icon-tw
						li
							a(href="#")
								span.icon.icon-in
						li
							a(href="#")
								span.icon.icon-google
						li
							a(href="#")
								span.icon.icon-youtube