header.header
	.container
		.row
			.col-xs-12.clearfix
				.header-logo
					a(href="#")
						img(src="img/logo.png" alt="")
				nav.header-menu
					ul.header-menu-list.clearfix(data-target="navigation")
						li.active
							a(href="index.html")
								| home
						li
							a(href="#features")
								| features
						li
							a(href="#app-slider")
								| screenshot
						li
							a(href="#price")
								| pricing
						li
							a(href="#contact")
								| contact
					.menu-burger(data-opener="navigation")
						span.menu-burger-icon