.heading
	.container
		.row
			.col-lg-6.col-xs-12.text-xs-center.text-lg-left
				.heading-content
					h1
						| Present your app in <br>beautiful way with <br>
						span
							| RXapps.
					h3
						| Available for IOS &#38; Android
					a(href="#").btn
						| download
						span.icon.icon-downld
			.col-lg-6.col-xs-12.text-xs-center
				.heading-img-wrapper
					.heading-img-big
						img(src="img/phone1.png" alt="")
					.heading-img-small
						img(src="img/phone2.png" alt="")
section.features#features
	.container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| BRILLIANT FEATURES
					p 
						| Lorem ipsum dolor sit amet consectetur adipiscing  elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan
			.col-lg-4.col-xs-12.features-left
				.features-item
					.row
						.col-lg-4.col-lg-push-8.col-xs-12.text-xs-center.features-icon
							.icon-wrapper
								.elem
								.icon.icon-pc
						.col-lg-8.col-lg-pull-4.col-xs-12.text-xs-center.text-lg-right
							.title
								| Unique Designe
							.content
								p
									| Lorem ipsum dolor sit ametconsec&shy;tetur adipiscingelit Etiam at ipsum at ligula vestibu
				.features-item
					.row
						.col-lg-4.col-lg-push-8.col-xs-12.text-xs-center.features-icon
							.icon-wrapper
								.elem
								.icon.icon-list
						.col-lg-8.col-lg-pull-4.col-xs-12.text-xs-center.text-lg-right
							.title
								| Flat Designe
							.content
								p
									| Lorem ipsum dolor sit ametconsec&shy;tetur adipiscingelit Etiam at ipsum at ligula vestibu
				.features-item
					.row
						.col-lg-4.col-lg-push-8.col-xs-12.text-xs-center.features-icon
							.icon-wrapper
								.elem
								.icon.icon-settings
						.col-lg-8.col-lg-pull-4.col-xs-12.text-xs-center.text-lg-right
							.title
								| Easy Settings
							.content
								p
									| Lorem ipsum dolor sit ametconsec&shy;tetur adipiscingelit Etiam at ipsum at ligula vestibu
			.col-lg-4.col-xs-12.text-xs-center
				.container
					.row
						img(src="img/features-img.png" alt="").features-img
			.col-lg-4.col-xs-12.features-right
				.features-item
					.row
						.col-lg-4.col-xs-12.text-xs-center.features-icon
							.icon-wrapper
								.elem
								.icon.icon-cloud
						.col-lg-8.col-xs-12.text-xs-center.text-lg-left
							.title
								| Unique Designe
							.content
								p
									| Lorem ipsum dolor sit ametconsec&shy;tetur adipiscingelit Etiam at ipsum at ligula vestibu
				.features-item
					.row
						.col-lg-4.col-xs-12.text-xs-center.features-icon
							.icon-wrapper
								.elem
								.icon.icon-ear
						.col-lg-8.col-xs-12.text-xs-center.text-lg-left
							.title
								| 24/7 Support
							.content
								p
									| Lorem ipsum dolor sit ametconsec&shy;tetur adipiscingelit Etiam at ipsum at ligula vestibu
				.features-item
					.row
						.col-lg-4.col-xs-12.text-xs-center.features-icon
							.icon-wrapper
								.elem
								.icon.icon-people
						.col-lg-8.col-xs-12.text-xs-center.text-lg-left
							.title
								| User Friendly
							.content
								p
									| Lorem ipsum dolor sit ametconsec&shy;tetur adipiscingelit Etiam at ipsum at ligula vestibu
section.about#about
	.container
		.row
			.col-lg-6.col-xs-12
				.about-img
					.about-img-big.text-xs-center
						img(src="img/about-big.png" alt="")
					.about-img-small
						img(src="img/about-small.png" alt="")
			.col-lg-6.col-xs-12.text-xs-center.text-lg-left
				.about-content
					h2
						| description your app
					p
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullavolutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl consequat. volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl consequat.
					P
						| putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari futurum.
section.benefits#benefits
	.container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| your benefits
					p
						| Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan 
			.col-lg-4.col-xs-12.benefits-left
				.benefits-item
					.row
						.col-lg-2.col-lg-push-10.col-xs-12.text-xs-center
							.icon-wrapper
								.icon.icon-locker
						.col-lg-10.col-lg-pull-2.col-xs-12.text-xs-center.text-lg-right
							.title
								| Reliable and Secure Platform
							.content
								p
									| Lorem ipsum dolor sit amet consectetur adipic&shy;sicing elit  consectetur adipisicing eli sed do
				.benefits-item
					.row
						.col-lg-2.col-lg-push-10.col-xs-12.text-xs-center
							.icon-wrapper
								.icon.icon-set
						.col-lg-10.col-lg-pull-2.col-xs-12.text-xs-center.text-lg-right
							.title
								| Attach large file easily
							.content
								p
									| Lorem ipsum dolor sit amet consectetur adipic&shy;sicing elit  consectetur adipisicing eli sed do
			.col-lg-4.col-xs-12.text-xs-center
				.benefits-img-wrapper
					img(src="img/benefits-img.png" alt="")
					span.benefits-elem-top
					span.benefits-elem-bottom
			.col-lg-4.col-xs-12.benefits-right
				.benefits-item
					.row
						.col-lg-2.col-xs-12.text-xs-center
							.icon-wrapper
								.icon.icon-eye
						.col-lg-10.col-xs-12.text-xs-center.text-lg-left
							.title
								| Step on the new level
							.content
								p
									| Lorem ipsum dolor sit amet consectetur adipicsi&shy;cing elit  consectetur adipisicing eli sed do
				.benefits-item
					.row
						.col-lg-2.col-xs-12.text-xs-center
							.icon-wrapper
								.icon.icon-like
						.col-lg-10.col-xs-12.text-xs-center.text-lg-left
							.title
								| Stunnung flexibility
							.content
								p
									| Lorem ipsum dolor sit amet consectetur adipicsi&shy;cing elit  consectetur adipisicing eli sed do
section.app-slider#app-slider
	.container-fluid.app-slider-container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| app screnshot
					p
						| Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan
			.col-xs-12.text-xs-center
				.app-slider-wrapper
					.app-slider-item
						img(src="img/sl1.png" alt="")
					.app-slider-item
						img(src="img/sl2.png" alt="")
					.app-slider-item
						img(src="img/sl3.png" alt="")
					.app-slider-item
						img(src="img/sl4.png" alt="")
					.app-slider-item
						img(src="img/sl5.png" alt="")
					.app-slider-item
						img(src="img/sl1.png" alt="")
					.app-slider-item
						img(src="img/sl2.png" alt="")
					.app-slider-item
						img(src="img/sl3.png" alt="")
					.app-slider-item
						img(src="img/sl4.png" alt="")
					.app-slider-item
						img(src="img/sl5.png" alt="")
section.price#price
	.container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| our best pricing
					p
						| Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan
			.col-lg-4.col-xs-12
				.price-item.text-xs-center
					.price-item-heading
						| Basic <br>
						span 
							| For Freelancers
					.price-item-amount
						span.currency
							| $
						| 19 
						span.duration
							| month
					ul.price-item-list.text-xs-left
						li
							| Total Users
							.price-item-elem
								| 15
						li
							| Unlimited Styles
							.price-item-elem
								.icon.icon-check
						li
							| Advance Protection
							.price-item-elem
								.icon.icon-check
						li
							| Cloud Storage
							.price-item-elem
								.icon.icon-close
						li
							| 24/7 Customer Service
							.price-item-elem
								.icon.icon-close
						li
							| Backup Service
							.price-item-elem
								.icon.icon-close
					a(href="#").price-btn
						| Choose plan
			.col-lg-4.col-xs-12.price-col-bigger
				.price-item.price-item-bigger.text-xs-center
					.price-item-heading
						| Basic <br>
						span 
							| For Freelancers
					.price-item-amount
						span.currency
							| $
						| 19 
						span.duration
							| month
					ul.price-item-list.text-xs-left
						li
							| Total Users
							.price-item-elem
								| 15
						li
							| Unlimited Styles
							.price-item-elem
								.icon.icon-check
						li
							| Advance Protection
							.price-item-elem
								.icon.icon-check
						li
							| Cloud Storage
							.price-item-elem
								.icon.icon-check
						li
							| 24/7 Customer Service
							.price-item-elem
								.icon.icon-check
						li
							| Backup Service
							.price-item-elem
								.icon.icon-close
					a(href="#").price-btn
						| Choose plan
			.col-lg-4.col-xs-12
				.price-item.text-xs-center
					.price-item-heading
						| Basic <br>
						span 
							| For Freelancers
					.price-item-amount
						span.currency
							| $
						| 19 
						span.duration
							| month
					ul.price-item-list.text-xs-left
						li
							| Total Users
							.price-item-elem
								| 15
						li
							| Unlimited Styles
							.price-item-elem
								.icon.icon-check
						li
							| Advance Protection
							.price-item-elem
								.icon.icon-check
						li
							| Cloud Storage
							.price-item-elem
								.icon.icon-check
						li
							| 24/7 Customer Service
							.price-item-elem
								.icon.icon-check
						li
							| Backup Service
							.price-item-elem
								.icon.icon-check
					a(href="#").price-btn
						| Choose plan
section.subscribe#subscribe
	.container
		.row
			.col-lg-4.col-xs-12.text-xs-center.text-lg-left
				.section-heading
					h2
						| subscribe now
			.col-lg-8.col-xs-12
				form.subscribe-form.text-xs-center.text-lg-right
					input(type="email" placeholder="Your Email" name="email")
					input(type="submit" value="Subscribe")
section.description#description
	.container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| description with video
					p
						| Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan
			.col-xs-12.text-xs-center
				.video-wrapper
					iframe(src="https://player.vimeo.com/video/90299717?title=0&byline=0&portrait=0" width="640" height="360")
section.download#download
	.container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| download the app
				.download-btns.text-xs-center
					a(href="#").download-btn
						span.icon.icon-ios
						| App Store
					a(href="#").download-btn
						span.icon.icon-andr
						| Play Store
			.col-xs-12
				.testimonials-slider
					.testimonials-slider-item.text-xs-center
						.testimonials-text
							p
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.
						.testimonials-author.clearfix
							.author-avatar
								img(src="img/client-01.png" alt="")
							.author-info
								span
									| jhonthan smith
								| Apple factory
					.testimonials-slider-item.text-xs-center
						.testimonials-text
							p
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.
						.testimonials-author.clearfix
							.author-avatar
								img(src="img/client-01.png" alt="")
							.author-info
								span
									| jhonthan smith
								| Apple factory
					.testimonials-slider-item.text-xs-center
						.testimonials-text
							p
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.
						.testimonials-author.clearfix
							.author-avatar
								img(src="img/client-01.png" alt="")
							.author-info
								span
									| jhonthan smith
								| Apple factory
					.testimonials-slider-item.text-xs-center
						.testimonials-text
							p
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.
						.testimonials-author.clearfix
							.author-avatar
								img(src="img/client-01.png" alt="")
							.author-info
								span
									| jhonthan smith
								| Apple factory
					.testimonials-slider-item.text-xs-center
						.testimonials-text
							p
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since they 1500s, when an unknown printer took a galley of type and scrambled.
						.testimonials-author.clearfix
							.author-avatar
								img(src="img/client-01.png" alt="")
							.author-info
								span
									| jhonthan smith
								| Apple factory
section.contact#contact
	.container
		.row
			.col-xs-12.text-xs-center
				.section-heading
					h2
						| contact us
					p
						| Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan
			.col-xs-12.text-xs-center
				form.contact-form
					.row
						.col-md-6
							input(type="text" name="user name" placeholder="Your Name")
						.col-md-6
							input(type="email" name="email" placeholder="Your E-mail")
						.col-xs-12
							textarea(placeholder="Message" rows="1")
							input(type="submit" value="Send Message")